name: "Publish"

on:
  push:
    tags:
      - "*"

permissions:
  contents: read

jobs:

  Build:
    name: "Build"
    runs-on: "ubuntu-latest"
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}

    steps:
    - name: "Checkout repository"
      uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"

    - name: "Setup Python"
      uses: "actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c"
      with:
        python-version: "3.11" # Pin to 3.11 until we have a good solution for Py 3.12

    - name: "Install dependencies"
      run: |
        python -m pip install -r requirements/publish.txt

    - name: "Build dists"
      # Uses 'SOURCE_DATE_EPOCH' for build reproducibility.
      run: |
        SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct) \
        python -m build

    # Create hashes of all the built distributables.
    # This is the input for "subject" of the SLSA builder.
    - name: "Generate hashes"
      id: hash
      run: |
        cd dist && echo "hashes=$(sha256sum * | base64 -w0)" >> $GITHUB_OUTPUT

    - name: "Upload dists"
      uses: "actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f"
      with:
        name: "dist"
        path: "dist/"
        if-no-files-found: error
        retention-days: 5

  Provenance:
    needs: ["Build"]
    uses: "slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.0.0"
    permissions:
      actions: read
      id-token: write
      # contents: write is only needed to upload the
      # attestation to the GitHub release.
      contents: write
    with:
      base64-subjects: "${{ needs.Build.outputs.hashes }}"
      upload-assets: true

  Publish:
    name: "Publish"
    if: startsWith(github.ref, 'refs/tags/')
    needs: ["Build", "Provenance"]
    runs-on: "ubuntu-latest"

    permissions:
      # contents: write is only needed to upload the
      # dists to the GitHub release.
      contents: write

      # This permission allows for the gh-action-pypi-publish
      # step to access GitHub OpenID Connect tokens.
      id-token: write

    # This job requires the 'publish' GitHub Environment to run.
    # This value is also set in the Trusted Publisher.
    environment:
      name: "publish"

    # Now that we've built and attested to the distributables
    # provenance we can upload them to PyPI and add to the GitHub release.
    steps:
    - name: "Download dists"
      uses: "actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131"
      with:
        name: "dist"
        path: "dist/"

    - name: "Upload dists to GitHub Release"
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      run: |
        gh release upload ${{ github.ref_name }} dist/* --repo ${{ github.repository }}

    - name: "Publish dists to PyPI"
      uses: "pypa/gh-action-pypi-publish@3317ede93a4981d0fc490510c6fcf8bf0e92ed05"
